* {
    font-family: GmarketSansMedium;
}

body,
ul,
h3 {
    padding: 0;
}

.container {
    width: 1190px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
    padding-inline-start: 0;
}

/* daily webtoon */
.daily-webtoon-container {
    /* width: inherit; */
    border: 1px solid #ebebeb;
    display: flex;
    justify-content: center;
}

.day {
    flex: 1;
    padding: 0 0.3rem;
    border-collapse: collapse;
    border: 1px solid #ebebeb;
    display: flex;
    flex-direction: column;
}

.day:hover {
    background-color: #bfe6ff;
    font-weight: bold;
}

.day-name {
    padding: 1rem;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
}

.webtoon-wrap {
    position: relative;
    padding-bottom: 0.5rem;
}

.webtoon-name {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-weight: bold;
}

.webtoon-img-wrap {
    /* width: inherit; */
    height: 200px;
}

.webtoon-img {
    height: inherit;
    border-radius: 0.5rem;
}

.new-mark {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0.25rem;
    top: 0.25rem;
    background-color: #00dc64;
    font-size: 0.5rem;
    font-weight: bold;
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
}

/* nav */

#nav-top {
    display: flex;
}

.nav-content {
    width: 840px;
    margin-bottom: 30px;
}

.nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#to-new-webtoon a {
    color: #666666;
}

.new-webtoon-list {
    display: flex;
    justify-content: space-between;
}

.new-webtoon-list li {
    width: 272px;
}

.new-webtoon-thumbnail {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    height: 165px;
}

#tbg1 {
    background: rgb(255, 234, 183);
}

#tbg2 {
    background: rgb(224, 212, 248);
}

#tbg3 {
    background: rgb(211, 215, 169);
}

.new-webtoon-thumbnail .box {
    position: relative;
}

.new-webtoon-thumbnail img {
    width: 226px;
    position: absolute;
    bottom: -10.3em;
    left: 25px;
}

.new-webtoon-desc {
    margin-top: 15px;
}

.new-webtoon-desc div {
    margin: 5px 0;
}

.new-webtoon-title {
    font-weight: bold;
}

.new-webtoon-author {
    font-size: 14px;
    font-weight: bold;
}

.new-webtoon-summary {
    color: #666666;
    font-size: 14px;
}

.nav-ad {
    width: 30%;
    margin-top: 80px;
    margin-left: 60px;
}

.nav-ad img {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

#nav-banner {
    width: 100%;
    height: 100px;
}

#nav-banner div {
    position: absolute;
}

#nav-banner-button {
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    width: 60px;
    height: 60px;
    top: 20px;
    right: 73px;
    bottom: 0;
    border-radius: 100%;
    color: white;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#nav-banner-button:hover {
    cursor: pointer;
}

#nav-banner-button div {
    height: 12px;
}
/* footer  */
footer {
    margin-top: 30px;
}

.component-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    margin-bottom: 5px;
}

.component-head-title {
    font-size: 20px;
    line-height: 21px;
    font-weight: 600;
    color: var(--color-text-primary);
}

.tag-group {
    flex-wrap: wrap;
    max-height: 141px;
    width: 840px;
}

.tag {
    background: rgb(246, 246, 246);
    margin: 0 6px 10px 0;
    line-height: 37px;
    font-size: 16px;
    color: rgb(104, 104, 104);
    font-weight: 550;
}

.footer-announce {
    width: 1224px;
}

.announce-box {
    border: 1px solid;
    display: inline-flex;
    width: 390px;
    height: 130px;
}

.announce-box-text {
    display: flex;
    align-items: center;
    margin-left: 14px;
}

.announce-box-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.text {
    font-size: 20px;
    font-weight: 550;
}

.text-1 {
}

.text-2 {
    color: rgb(21, 180, 21);
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 32px;
    margin-top: 30px;
    padding-bottom: 10px;
}

.footer-bottom ul {
    list-style: none;
    padding-left: 0;
}

.footer-bottom li {
    position: relative;
    float: left;
}

.footer-bottom li a:link {
    color: black;
    text-decoration: none;
}

.footer-bottom li a {
    color: black;
    font-size: 1rem;
    font-weight: 550;
}

.footer-bottom li::after {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 0.09rem;
    height: 1rem;
    background: #ccc;
    transform: translateY(-50%);
}

.footer-bottom li:first-child:after {
    display: none;
}

.footer-bottom li a {
    display: block;
    height: 81px;
    padding: 0 10px;
    line-height: 81px;
}

.mini-text {
    font-size: 0.8rem;
    color: #ccc;
}

.mini-dot::before {
    content: "";
    position: absolute;
    left: 1;
    top: 50%;
    width: 3px;
    height: 3px;
    background: #ccc;
    transform: translateY(-50%);
}
